body,
html {
	margin: 0;
}

#login,
#register,
#recipe-form {
	margin: 80px;
	padding: 50px;
	background-color: white;
	border-radius: 0.25rem;
	border: 1px solid #ced4da;
}

#recipes-layout {
	padding: 20px
}